#==============================================================
#	DISABLE INDEX FOLDER
#==============================================================
	Options -Indexes
#--------------------------------------------------------------#

#==============================================================
#	CODEIGNITER HTACCESS
#==============================================================
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/ [PT,L]
#--------------------------------------------------------------#

#==============================================================
#	CODEIGNITER ENVIRONMENT
#==============================================================
	<IfModule mod_env.c>
		SetEnv TIME_REFRENCE Asia/Jakarta
		SetEnv CI_ENV development
		SetEnv ACTIVE_DATABASE_GROUP default
		Header set Access-Control-Allow-Origin "*"
	</IfModule>
#--------------------------------------------------------------#


<IfModule mod_setenvif.c>
	<IfModule mod_headers.c>
		<FilesMatch "\.(avifs?|bmp|cur|gif|ico|jpe?g|jxl|a?png|svgz?|webp)$">
		SetEnvIf Origin ":" IS_CORS
		Header set Access-Control-Allow-Origin "*" env=IS_CORS
		</FilesMatch>
	</IfModule>
</IfModule>