<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exa</title>
</head>
<body>

</body>
<script type="text/javascript" src="/JQuery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/ML5.js/ml5.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.min.js"></script>
<script type="text/javascript">
var socket = io();
socket.on('connect', function() {

	socket.emit('join_check');

	window.knnClassifier = ml5.KNNClassifier();
	window.featureExtractor = ml5.featureExtractor('MobileNet', readyToUse);
	window.serverURL = 'http://localhost/Skripsi-Project/extract-color-and-knearest-neighbors';

	function readyToUse() {
		$.ajax({
			url: window.serverURL+'/admin/try',
			type: 'GET',
			dataType: 'JSON',
			crossDomain: true,
			success: function(data) {
				$.each(data, function(index, val) {
					// temp image to get image widh & height
					var temp_image = new Image();
					temp_image.onload = function() {
						// temp image loaded
						var img = new Image(this.width, this.height);
						img.onload = function() {
							img.crossOrigin = 'anonymous';
							window.knnClassifier.addExample(window.featureExtractor.infer(img), val.title);
						}

						img.src = window.serverURL+'/uploads/'+val.image;
					}

					temp_image.src = window.serverURL+'/uploads/'+val.image;
				});
			},
			error: function(error) {

			}
		});
	}

	socket.on('check', function(data) {
		var temp_image = new Image();
		temp_image.onload = function() {
			// temp image loaded
			var img = new Image(this.width, this.height);
			img.onload = function() {
				const features = window.featureExtractor.infer(img);
				// Use KNN Classifier to classify these features
				knnClassifier.classify(features, (error, result) => {
					socket.emit('checked', result);
				});
			}

			img.src = data.image;
		}

		temp_image.src = data.image;
	});
});

</script>
</html>