<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CHECKER</title>
</head>
<body></body>
<script type="text/javascript" src="/JQuery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/ML5.js/ml5.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.min.js"></script>
<script type="text/javascript" src="/script.js"></script>
</html>